@charset "UTF-8";

* {
 border: 1px solid black;	
}
#wrap {
	width: 1005px;
	height: 1305px;
	margin-left: auto;
	margin-right: auto;
}
td {
	text-align: center;

}

/* #testform input[type="text"]:focus	{ */
/* 	border:1px solid #FF6600; */
/* 	background-color:#FFF; */
/* 	 font-color: red; */
/* } */

input {
/* 	color:#DCDCDC; */
}

/* input:focus, select:focus, textarea:focus { */
/* 	border:2px solid black; */
/* 	background-color:#FFF; */
/* 	color:#FF6600; */
/* } */

select{
	color: #CCC;
/* 	background-color: black; */
	height: 30px;
}

	input[type="text"]{
		width: 200px;
		height: 30px;
	　　color: #CCC;
/* 		background-color: black; */
	}
	input[type="password"]{
		width: 200px;
		height: 30px;
	　　color: #CCC;
		background-color: black;
	}
	input[type="button"]{  /*汎用ボタン*/
	width: 100px;
		height: 25px;
    background-color :#FFD700; /*背景色*/
     }