@charset "UTF-8";


/* *{ */
/* 	border: 1px solid black;  */
/* } */


#wrap {
	width: 1005px;
	height: 2800px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.head {
	width: 1000px;
	height: 200px;
	background-image:
		url('http://image.moshimo.com/static/publish/sd/img/backgrounds/000/010.gif');
	background-color: #ffff00;
	background-repeat: repeat-x;
	background-attachment: fixed;
	position: relative;
}

		.label {
			position: absolute;
			top: 80px;
			right: 30px;
		}

		.menu {
			margin-bottom: 30px;
			font-size: 16px;
			list-style: none;
			overflow: hidden;
			padding: 0;
		}
		
				.menu>li {
					float: left;
					width: 150px;
					text-align: center;
				}
				
				.menu a {
					padding: 10px 0;
					color: blue;
					display: block;
				}
				
				.menu a:hover {
					background: #ffc35c;
				}

/*    -----------------------  side  --------------------- */

.side {
	text-align: center;
	width: 200px;
	height: 2400px;
	float: left;
	background-image:
		url('http://image.moshimo.com/static/publish/sd/img/backgrounds/000/010.gif');
	background-color: #ffff00;
	background-repeat: repeat-x;
	background-attachment: fixed;
}
	
	.side-link {
			list-style: none;
			padding:0;
			
	}
	.card {
			list-style: none;
			padding:0;
			text-align: center;
	}



#main {
	width: 800px;
	height: 2400px;
	float: left;
}

		p.clearfix {
			float: left;
			margin: 30px 50px;
		}
		
		.item {
			margin-left: 90px;
		}
		p.page{
			display:block; 
			text-align:center;
		}
		
		.navi {
			
			font-size: 14px;
			list-style: none;
			overflow: hidden;
			width: 60%;
			margin-bottom: 80px;
/* 			margin-left:auto; */
/* 			margin-right:auto; */
			text-align:right;
		}
		


#footer {
	width: 750px;
	height: 100px;
	clear: both;
}